body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
    display: none;
}

.form-container {
    flex: 1;
    max-width: 600px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tell"], /* Mengganti "telL" menjadi "tel" */
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.form-group textarea {
    height: 100px; /* Sesuaikan dengan tinggi yang diinginkan */
    resize: vertical; /* Biarkan pengguna dapat mengubah tinggi secara vertikal */
}
